<%namespace name="lib" file="lib.html"/>
<div class="${grid.control_group_classes} ${widget.group_classes} ${widget.attrs.getGroupClasses()} ${'has-error' if error else ''}" ${widget.attrs.getGroupAttrs()|n}>
    %if widget.hasLabel():
        <label class="${widget.label_classes} ${grid.label_classes}">
            ${widget.getLabel(request)}
        </label>
    %endif
    <div class="${widget.control_classes} ${grid.controls_classes}">
        <%block name="controls">
            <input type="${widget.type}" class="${grid.input_classes} ${widget.getClasses()}" name="${widget.getName(prefix)}" id="${widget.getName(prefix)}" value="${widget.valueToForm(value)}" ${widget.getInputAttrs(request)|n}/>
        </%block>
        ${self.renderInline(widget, error)}
    </div>
</div>

<%def name="renderInline(widget, error)">
    ${lib.renderInline(widget, error)}
</%def>