<%namespace name="lib" file="lib.html"/>

<div class="control-group ${grid.control_group_classes} ${widget.group_classes} ${widget.attrs.getGroupClasses()} ${'has-error' if error else ''}" ${widget.attrs.getGroupAttrs(request)|n}>
    <div class="controls ${widget.control_classes}">
        <label class="${widget.label_classes}">
            <input type="checkbox" name="${widget.getName(prefix)}" class="${widget.getClasses()}" value="${widget.value}" ${'checked' if value else ''} ${widget.attrs.getInputAttrs(request)|n}/>
            ${widget.getLabel(request)|n}
        </label>
        ${lib.renderInline(widget, error)}
    </div>
</div>
