<%inherit file="basefield.html"/>
<%namespace name="lib" file="lib.html"/>

<%block name="controls">
    <select class="${widget.getClasses()}" name="${widget.getName(prefix)}" ${widget.attrs.getInputAttrs(request)|n}>
            %for option in widget.getOptions(request):
                <option ${'selected' if widget.isSelected(option, value, request) else ''}
                        value="${option.getKey(request)}">${option.getLabel(request)}</option>
            %endfor
    </select>
</%block>