<%!
    from itertools import izip_longest
%>
<div data-closure="form" ${'data-required="true"' if widget.attrs.required else ''|n} class="repeatable-form">
    %for j, (values, errors) in enumerate(izip_longest(value or [{}], getattr(error, "error_list", [{}]), fillvalue = {})):
        <div class="${widget.getClasses()}" data-sequence="${j}">
            %if widget.label:
                    <span class="embedded-from-label">
                        ${widget.getLabel(request)|n} <span class="numbering">${j+1}</span>
                    </span>
            %endif
            %for field in widget.fields:
                ${field.render('{}-{}'.format(prefix, j), request, values, errors)|n}
            %endfor
        </div>
    %endfor
    <div class="add-more">
        <a class="link add-more-link">${widget.add_more_link_label|n}</a>
    </div>
</div>