<%!
    from itertools import izip_longest
%>

<div data-closure="form" ${'data-required="true"' if widget.attrs.required else ''|n} class="repeatable-form" ${'data-prepend="true"' if widget.prepend else ''} data-append-target=".${widget.appendTarget}" data-prefix="${prefix}">
    %if widget.prepend:
        <div class="add-more">
            <a class="link add-more-link">${widget.add_more_link_label|n}</a>
        </div>
    %endif
    %if widget.label:
        <span class="embedded-form-label">
            ${widget.getLabel(request)|n}
        </span>
    %endif
    <div class="${widget.appendTarget}">
    %for j, (values, errors) in enumerate(izip_longest(value or [{}], getattr(error, "error_list", [{}]), fillvalue = {})):
        <div class="${widget.getClasses()}" data-sequence="${j}">
            %if widget.positioned_label:
                <span class="embedded-form-label positioned">
                    ${widget.getPositionedLabel(request, j+1)|n}
                </span>
            %endif
            %for field in widget.fields:
                ${field.render('{}-{}'.format(prefix, j), request, values, errors, view, grid)|n}
            %endfor
        </div>
    %endfor
    </div>
    %if not widget.prepend:
        <div class="add-more">
            <a class="link add-more-link">${widget.add_more_link_label|n}</a>
        </div>
    %endif
</div>