<%inherit file="basefield.html"/>
<%namespace name="lib" file="lib.html"/>

<%block name="controls">
    <div class="typeahead-container"
         data-api-url="${widget.api_url}" data-api-result="${widget.api_result}"
        ${'data-api-dependency="{}"'.format(widget.dependency) if widget.dependency else ''|n}
    >
    <div class="search-field">
        <input type="text" class="query ${widget.getClasses()}" name="${widget.getName(prefix)}" value="${value}" autocomplete="off" ${widget.attrs.getInputAttrs(request)|n}/>
    </div>
    </div>
</%block>
